.route {
   height: 100vh;
   margin: 0 auto;
   text-align: left;
}

.route_title {
   margin-left: 80px;
}

.profile_container {
   width: 1000px;
   height: 700px;
   background-color: #222327;
   margin: 20px auto;
   border-radius: 16px;
}

.profile_container_header {
   width: 100%;
   height: 180px;
   background-color: #F2890C;
   border-radius: 16px;
}

.profile_info_container {
   width: 950px;
   height: 535px;
   margin: 0 auto;
   transform: translateY(-100px);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.profile_settings {
   color: #000;
}

.profile_card, .profile_settings {
   background-color: #fff;
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid #F0F1FA;
}
.profile_card {
   width: 270px;
   height: 100%;
   text-align: center;
}
.profile_photo {
   width: 60px;
   height: 60px;
   margin: 60px 0 18px;
   border-radius: 7px;
   border: 1px solid #8C9293;
   padding: 20px;
}
.profile_settings {
   width: 600px;
   height: 100%;
}

.profile_status {
   color: #8C9293;
   font-size: 12px;
   margin-top: 5px;
}

.profile_statistics {
   width: 100%;
   margin-top: 25px;
}

.profile_statistics_item {
   border-top: 1px solid #F0F1FA;
   border-bottom: 1px solid #F0F1FA;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 15px;
}
.profile_statistics_item div {
   text-align: center;
   width: 30px;
}

.profile_stat_name {
   font-size: 13px;
}



.profile_settings_header {
   width: 100%;
   height: 60px;
   border-bottom: 1px solid #F0F1FA;
   display: flex;
   align-items: center;
   justify-content: center;
   user-select: none;
}
.profile_settings_header h2 {
   font-size: 20px;
}

.profile_settings_container {
   display: flex;
   justify-content: space-between;
   text-align: left;
   align-items: center;
}

.profile_settings_column {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 240px;
}

.profile_settings_column_param {
   margin: 30px 0 10px;
   width: 100%;
}
.profile_settings_column_param p {
   color: #8C9293;
   margin-left:7px;
   user-select: none;
}
.profile_settings_column_param span {
   font-size: 14px;
   padding: 10px 5px;
   border-radius: 7px;
   border: 1px solid #8c929338;
   width: 220px;
   display: block;
}

.edit_button {
   width: 240px;
   margin: 0 auto;
   height: 40px;
   background-color: #F2890C;
   border-radius: 7px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   cursor: pointer;
   transition: background-color .2s ease;
   user-select: none;
   margin: 70px 0;
}
.edit_button:hover {
   background-color: #c8730b;
   transition: background-color .2s ease;
}

.edit_acc {
   width: 100vw;
   height: 100vh;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.4);
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   transform: scale(0);
}
.edit_acc.active {
   transform: scale(1);
}

.edit_acc_container {
   width: 600px;
   height: 800px;
   background-color: #fff;
   border-radius: 15px;
   border: 2px solid #8f8f93;
   text-align: center;
}
.edit_acc_header {
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.edit_acc_header img {
   width: 20px;
   height: 20px;
   margin-right: 30px;
   cursor: pointer;
}
.edit_profile_title {
   margin: 40px 0 0;
}

legend {
      color: #000;
}

/* =========================== */

.main_route {
   overflow-y: auto;
}

.main_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 600px;
   margin: 10px 0 10px 80px;
}
.main_header_item {
   cursor: pointer;
}

.main_products_list {
   margin: 20px auto 0;
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   gap: 15px;
}

.main_products_list_item {
   border-radius: 7px;
   background-color: #1B2728;
   border: 2px solid #8C9293;
   width: 200px;
   padding: 0 5px;
   color: #FFF;
}

.main_products_image {
   width: 200px;
   height: 200px;
   border-bottom: 1px solid #000;
   border-radius: 7px;
}

.product_info_container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 10px;
}

.price {
   height: 20px;
}
.like_button {
   width: 20px;
   height: 20px;
   cursor: pointer;
   background-image: url('../icons/like.svg');
   background-repeat: no-repeat;
   background-position: center;
}
.like_button.liked {
   background-image: url('../icons/liked.svg');
}

.product_name {
   padding: 0 0 0 10px;
}
.product_category {
   /* color: #F2890C; */
   font-weight: normal;
}

.buy_button_container {
   text-align: center;
   margin: 20px 0;
}
.buy_button {
   background-color: #F2890C;
   cursor: pointer;
   color: #FFF;
   border: none;
   padding: 5px 15px;
   border-radius: 7px;
   width: 160px;
}
.buy_button:hover {
   background-color: #c8730b;
}
.buy_button:active {
   background-color: #ad6309;
}

.product_buutons_container {
   height: 60px;
   width: 60px;
}

/* ====================== */

.fav_list_item {
   background-color: #1B2728;
   padding: 20px;
   width: 300px;
   border-radius: 7px;
   border: 2px solid #8C9293;
   /* margin: 0 auto; */
}

.fav_list_item_button_container {
   width: 100%;
   text-align: center;
}

.fav_list_item_container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.fav_list_item_desc {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100px;
   width: 120px;
}

.fav_products_image {
   width: 100px;
   height: 100px;
   border-radius: 7px;
}
.white {
   color: #FFF;
}
.product_category.orng {
   color: #f28b0cb5;
   font-size: 14px;
}

.fav_list_item .buy_button {
   margin: 20px 0 0;
}

.status_display {
   width: 120px;
   height: 100px;
   display: flex;
   align-items: center;
   font-size: 14px;
   justify-content: center;
   border-left: 1px solid #F2890C;
   padding: 0 20px;
}

/* ============================== */

.no_delivery {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
}

.no_delivery div {
   width: 600px;
   height: 400px;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #24262C;
}
.no_delivery div img {
   width: 100px;
   height: 100px;
}
.no_delivery div h2 {
   margin-bottom: 80px;
}


/* ================================= */

.pre_watch_title {
   margin: 40px 0;
}
.pre_watch_button {
   background-color: #F2890C;
   color: #FFF;
   border: none;
   padding: 5px 15px;
   border-radius: 7px;
   width: 160px;
}

.profile_card {
   color: #000;
}

.profile_card.pre_watch {
   background-color: #f5f5f5;
   text-align: left;
}

.add_product_param {
   font-size: 14px;
   padding: 10px 5px;
   border-radius: 7px;
   border: 1px solid #8c929338;
   width: 220px;
   display: block;
}

.add_product_image {
   height: 200px;
   cursor: pointer;
}

.basket_list_item_button_container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.basket_list_item_button_container button {
   font-size: 10px;
   width: 130px;
}

.delete_button {
   background-color: red;
}
.delete_button:hover {
   background-color: rgb(158, 5, 5);
}

.delivery_list_item {
   background-color: #1B2728;
   padding: 20px;
   width: 440px;
   border-radius: 7px;
   border: 2px solid #8C9293;
}

.header_nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 400px;
   margin: 10px auto;
   user-select: none;
   background-color: #FFF;
   padding: 20px 40px;
   border-radius: 7px;
   transform: translateY(-20px);
}
.header_nav_item {
   cursor: pointer;
   color: #000;
   padding-bottom: 5px;
}
.header_nav_item.active {
   border-bottom: 3px solid #F2890C;
}

.control_change_product {
   background-color: blue;
   margin-right: 10px;
   border: none;
   border-radius: 7px;
   padding: 5px 10px;
   cursor: pointer;
   color: #fff;
}

.control_delete_product {
   background-color: red;
   margin-right: 10px;
   border: none;
   border-radius: 7px;
   padding: 5px 10px;
   cursor: pointer;
   color: #fff;
}

.count {
   color: #fff;
}
