* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #00000050;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

input {
  padding: 5px 15px;
  border-radius: 12px;
  border: 1px solid #8f8f93;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #FFF;
}


/* Убираем стрелочки у input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  appearance:unset;
  -moz-appearance: textfield;
}

/* ===================================================== */

.toggle_form {
  margin-top: 20px;
  color: #F2890C;
  cursor: pointer;
  font-size: 14px;
  transition: color .2s ease;
}

.toggle_form:hover {
  color: #c8730b;
}

.enter_acc {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter_acc_container {
  width: 600px;
  height: 800px;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #8f8f93;
}
.enter_acc_container form {
  padding: 20px;
  text-align: center;
}
.form_title {
  margin-top: 80px;
  color: #F2890C;
  font-size: 28px;
}

.form_container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 270px;
  height: 440px;
  margin: 35px auto 0;
  border-bottom: 1px solid #000000;
  padding-bottom: 50px;
}
.form_container legend {
  margin-top: 9px;
  margin-left: 2px;
}
.form_container input {
  width: 100%;
  margin: 0 auto 9px;
  height: 40px;
  border-radius: 7px;
}
.role_select {
  width: 120px;
  background-color: #FFF;
  border: 1px solid #00000039;
  cursor: pointer;
  padding: 3px;
  border-radius: 7px;
}

.auth_button {
  width: 270px;
  height: 40px;
  margin: 40px auto 0;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  background-color: #F2890C;
  color: #FFF;
  transition: background-color .2s ease;
  font-weight: bold;
}
.auth_button:hover {
  background-color: #c8730b;
  transition: background-color .2s ease;
}

.error_notification {
  background-color: #ffcccc;
  color: #d8000c;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  transition: opacity 0.5s ease;
}
/* ===================================================== */

header {
  height: 60px;
  background-color: #F4F4F4;
}

.header_container {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_container div {
  width: 300px;
  user-select: none;
  text-align: center;
}
.header_container input {
  width: 400px;
  height: 24px;
}
::placeholder {
  color: #7E89A6;
}

.logo {
  font-size: 24px;
  cursor: pointer;
  color: #F2890C;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.profile_button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: #00000014;
  padding: 5px;
  border-radius: 7px;
  transition: background-color .2s ease;
  margin: 0 5px;
}
.profile_button:hover {
  background-color: #00000036;
  transition: background-color .2s ease;
}

/* ===================================================== */

.nav_menu {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 50px;
  background-color: #1B2728;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 50px;
  color: #FFF;
  transition: width .2s ease;
  user-select: none;
}
.nav_menu:hover {
  width: 240px;
  transition: width .2s ease;
}

.nav_menu:hover .nav_menu_list_item {
  opacity: 1;
  transition: opacity .1s ease;
}

.nav_menu_list_item {
  cursor: pointer;
  width: 210px;
  height: 45px;
  margin: 40px auto;
  opacity: 0;
  /* transition: opacity .1s ease; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 7px;
}
.nav_menu_list_item.active {
  background-color: #F2890C;
}

.nav_menu_list_item_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_icon_container {
  text-align: center;
  width: 50px;
  height: 20px;
}
.menu_icon {
    width: 20px;
    height: 20px;
}

/* ===================================================== */

.content {
  text-align: center;
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.location_popup {
  width: 150px;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  right: 0;
  user-select: none;
  background-color: #F4F4F4;
  transition: height .3s ease;
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 11px;
}
.location_popup.active {
  height: 60px;
  transition: height .3s ease;
  border: 1px solid #0000005c;
}
.location_popup_link {
  color: #000;
}
.location_popup .location_popup_link {
  color: #8C9293;
  overflow: hidden;
}
.fix_position {
  opacity: 0;
}